<!DOCTYPE html>
<html lang="en">

<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ec1946">

    <link rel="shortcut icon" href="{{asset "img/favicon.ico"}}">
    <link rel="manifest" href="/manifest.json">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.min.css"}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Inter:wght@400;500;700;800&display=swap" rel="stylesheet">
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>

<body class="{{body_class}} nav-closed">


    <div class="site-wrapper">

        {{! Everything else gets inserted here }}
        {{{body}}}


        <footer class="site-footer clearfix">
            <section class="social">
                <a class="twitter-me" href="https://twitter.com/philipbeel">Twitter</a>
                <a class="linkedin-me" href="https://uk.linkedin.com/in/philip-beel-55993013">Linkedin</a>
                <a class="github-me" href="https://github.com/philipbeel">Github</a>
            </section>

            <section class="biography">
                <p>{{@site.description}}</p>
            </section>

            <section class="copyright">
                {{@site.title}} © {{date format="YYYY"}}.
            </section>
        </footer>

    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    <script>
        (function () {
            hljs.configure({
                languages: ['javascript']
            });
            hljs.initHighlightingOnLoad();

            window.onscroll = function() {myFunction()};

            function myFunction() {
            const winScroll = document.body.scrollTop || document.documentElement.scrollTop;
            const height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
            const scrolled = (winScroll / height) * 100;
            document.getElementById("myBar").style.width = scrolled + "%";
            }
        })();
    </script>
</body>

</html>