<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ec1946">

    <link rel="shortcut icon" href="{{asset "img/favicon.ico"}}">
    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.min.css"}}" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/github-gist.min.css">
    <link rel="manifest" href="/manifest.json">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">


    <div class="site-wrapper">

        {{! Everything else gets inserted here }}
        {{{body}}}


        <footer class="site-footer clearfix">
            <section class="biography">
                <p>Software Engineering Manager, passionate about technology. Empowering teams to create solutions that are as simple as possible
                and as complex as necessary.</p>
            </section>
            <section class="social">
                <a class="twitter-me" href="https://twitter.com/philipbeel">Twitter @philipbeel</a>
                <a class="github-me" href="https://github.com/philipbeel">Github</a>
                <a class="linkedin-me" href="https://uk.linkedin.com/in/philip-beel-55993013">Linkedin</a>
            </section>
            <section>
                <p class="copyright"><a href="/">&copy; {{@blog.title}}</a></p>
            </section>
        </footer>

    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    <script>
        (function() {
            hljs.configure({
                languages: ['javascript']
            });
        hljs.initHighlightingOnLoad();
        })();
    </script>
    <script id="dsq-count-scr" src="//philipbeel.disqus.com/count.js" async></script>
</body>
</html>
