<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}

    {{! Page Meta }}
    <meta charset="UTF-8" />
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

   		<!--[if lt IE 9]>
        	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    {{>analytics }}
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>

	<header class="site-head">
        {{#if @blog.logo}}
        	<a class="main-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}} Logo" /></a>
        {{else}}
        	<div class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></div>
        {{/if}}
        <div class="blog-tagline">{{@blog.description}}</div>

        {{navigation }}

	</header>



	{{! Everything else gets inserted here }}
	{{{body}}}

    <footer class="main-footer">
        <div class="wrapper">
        	{{>footer }}
        </div>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript files }}
    <script>
      if (typeof jQuery == 'undefined') {
        document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></'+'script>');
      }
    </script>
    <script src="{{asset "js/plugins.min.js"}}"></script>
    <script src="{{asset "js/scripts.min.js"}}"></script>



</body>
</html>
