<!DOCTYPE html>
<html lang="en">

<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ec1946">

    <link rel="shortcut icon" href="{{asset "img/favicon.ico"}}">
    <link rel="manifest" href="/manifest.json">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.min.css"}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Inter:wght@400;500;700;800&display=swap" rel="stylesheet">
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>

<body class="{{body_class}} nav-closed">
    <div class="site-wrapper">
        <header class="main-header post-head no-cover">
            <nav class="main-nav  clearfix">
                <a class="blog-logo" href="https://theodin.co.uk"><img src="https://theodin.co.uk/content/images/2023/08/philipbeel-logo-4.svg" alt="Philip Beel, Engineering Manager" /></a>
            </nav>

        </header>
        <main class="content" role="main">
            <article class="post tag-hash-import-2023-08-22-16-42 no-image">
                <header class="post-header">
                    <h1 class="post-title">404 - Page not found 😵</h1>
                </header>
                <section class="post-content">
                    <p>The page you are looking for could not be found. Please try use the site search or returning <a href="https://theodin.co.uk">home</a> </p>
                    <div class="inline-search">
                        <button aria-label="Search this site" data-ghost-search>{{> "icons/search-dark"}} Search </button>
                    </div>
                </section>
            </article>
        </main>

        <footer class="site-footer clearfix">
            <section class="social">
                <a class="twitter-me" href="https://twitter.com/philipbeel">Twitter</a>
                <a class="linkedin-me" href="https://uk.linkedin.com/in/philip-beel-55993013">Linkedin</a>
                <a class="github-me" href="https://github.com/philipbeel">Github</a>
            </section>

            <section class="copyright">
                {{@site.title}} © {{date format="YYYY"}}.
            </section>
        </footer>

    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
</body>

</html>